#footer(style='margin-top: 50px; padding-top: 20px; padding-bottom: 30px;')
  .container
    .col-md-3
      p
        a(href='/') Cloud Tools
    .col-md-6
      span.pull-right #{util.message('copyright')}