#main_navbar.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#main_navbar_items')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') i&amp;i
    #main_navbar_items.navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href='/control-panel') Control Panel
      ul.nav.navbar-nav.navbar-right
        li(style='margin: 10px;')
          div(style='display: inline-block; float: left; margin-top: 3px; margin-left: 5px;')
              a(href='/control-panel')
                span.glyphicon.glyphicon-user(style='font-size: 18px;')